name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '25'
          java-package: jdk+crac
          architecture: x64

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload jar
        run: mkdir staging && cp build/libs/spring-petclinic-4.0.0.jar staging
      - uses: actions/upload-artifact@v4
        with:
          name: spring-petclinic-4.0.0.jar
          path: staging

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag crac
